<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=DESKTOP-B7G1714\SHOBHIT;Initial Catalog=Database;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>